@import './../../assets/styles/colors';
@import './../../assets/styles/shadow' ;

.button{
    padding: 3px 2px;
    width: fit-content;
    height: auto;
    @include shadow;

    font-weight: 900;
    font-size: 12px;
    border: none;
    img.icon{
        width: 15px;
    }
    
    .dotted-outline{
        display: flex;
        align-items: center;
        gap: 2px;
        content: "";
        padding: .1rem .2rem;
    }

    
    &:focus, &:active {
        outline: none;
        box-shadow: inset .5px .5px 0 .5px rgba($color: $black,$alpha: .4), inset 1px 1px rgba($color: $black,$alpha: .4),  -1px -1px rgba($color: $black,$alpha: .4),  2px 2px $white, -2.5px -2.5px #85898d;
        background: $light-grey;
        .dotted-outline{
            border: 1px dotted $black ;
            
        }
    }
}
.status{
    min-width: 20px;
    .dotted-outline{
        gap: 10px;
    }
}

.active {
    outline: none;
    box-shadow: inset .5px .5px 0 .5px rgba($color: $black,$alpha: .4), inset 1px 1px rgba($color: $black,$alpha: .4),  -1px -1px rgba($color: $black,$alpha: .4),  2px 2px $white, -2.5px -2.5px #85898d;
    background: $light-grey;
    .dotted-outline{
        border: 1px dotted $black ;
        
    }
}