@import './../../assets/styles/colors';
@import './../../assets/styles/shadow' ;

.icon{
    width: 120px;
    background: none;
    border: none;
    outline: none;

    img{
        width: 35px;
    }
    p{
        padding: 2px;
        font-weight: 100;
        color: $white;
        font-size: 12px;
        background-color: $background;
        line-height: 18px;
    }

    &:focus{
        p{
            .dotted-outline{
                border: .5px dotted rgba($color: $white, $alpha: .4) ; 
                display: flex;
                justify-content: center;
            }
            background-color: $windows-blue;
        }
    }
}
